<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <script src="{% static "js/timer.js" %}"></script>

     <title>Test Page</title>
  </head>

  <body>

<button type="button" onclick="start()">Start Countdown</button>
<button type="button" onclick="stop()">Stop Countdown</button>
<p id="counter">10</p>
<input id="startval">
<p id="message"></p>
  </body>
</html>