<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <script src="{% static "js/timer.js" %}"></script>

     <title>Test Page</title>
  </head>

<body>
     <table>
        {% for head in items.0.table_header %}
            <th>{{ head }}</th> 
        {% endfor %}
        {% for item in items %}
            <tr>
                {% for entry in item.table_data %}
                    <td class="{{entry.1}}">{{ entry.0|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
    <form class="routine_item_form" id="routine_item_form" name="routine_item_form" method="post" action="{{ request_path }}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.label_tag }} {{ field }} {{ field.help_text }} <br> <br>
            {% endfor %}
            <input id="submit" type="submit" name="submit" value="Save" />
    </form>
  </body>
</html>