<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <script src="{% static "js/timer.js" %}"></script>

     <title>Test Page</title>
  </head>

<body>
     <table>
        {% for head in exercises.0.table_header %}
            <th>{{ head }}</th> 
        {% endfor %}
        {% for exercise in exercises %}
            <tr>
                {% for entry in exercise.table_data %}
                    <td class="{{entry.1}}">{{ entry.0|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
  </body>
</html>